<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wave02"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name="com.example.wave02.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wave02.Screen1"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Screen1" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
             <activity
            android:name="com.example.wave02.Songsearch"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Songsearch" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
               <activity
            android:name="com.example.wave02.Songsearch02"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Songsearch02" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.Screen2"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Screen2" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.Signup"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Signup" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.LoginDatabase"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.LoginDatabase" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.Login"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Login" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
             <activity
            android:name="com.example.wave02.Songedit"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Songedit" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
             <activity
            android:name="com.example.wave02.Tab3Fragment"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Tab3Fragment" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.Personal_settings"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Personal_settings" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             
             </activity>
              <activity
            android:name="com.example.wave02.Preview_changes"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Preview_changes" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
               <activity
            android:name="com.example.wave02.Start_journey"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Start_journey" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
              <activity
            android:name="com.example.wave02.Viewas"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Viewas" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
             <activity
            android:name="com.example.wave02.Acc_view"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
             android:screenOrientation="portrait">
            <intent-filter>
             <action android:name="com.example.wave02.Acc_view" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
             </activity>
    </application>
    

</manifest>
